.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.gap-10{
    gap: 10px;
}

.gap-16{
    gap: 16px;
}

.border{
    border: 2px solid red
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.bg-black{
    background-color: black;
}

.cursor-pointer{
    cursor: pointer;
}

.h-24{
    height: 24px;
}

.invert{
    filter:invert(1);
}

.rounded{
    border-radius: 8px;
}

.m-5{
    margin:5px ;
}

.mv-5{
    margin: 5px 0;
}

.p-16{
    padding: 16px;
}

.p-12{
    padding: 12px;
}

.ph-16{
    padding: 0 16px;
}